$base-color: #3F3F3F;

.header-wrapper{
    height: 64px;

    width: 100%;
    background-color: $base-color;
    padding: 0 120px;
    min-width: 1366px;
    font-size: 14px;

    .logo,.nav{
        float: left;
    }
    .header-right{
        float: right;
        display: inline-block;
    }
    .nav,.header-right{
      line-height: 64px;
    }

}

.logo{
    display: inline-block;
    padding: 10px 50px;
    box-sizing:border-box;
    background-color: rgba(255,255,255,0.45);
    border-radius: 5px;
    color: #fff;
    vertical-align: middle;
    margin-top: 12px;
}
.nav-item{
    float: left;
    padding: 0 20px;
    a{
      color: rgba(255,255,255,0.45);
      font: 14px "Microsoft Yahei";
    }
    .router-link-active{
      color: #fff;
    }
}
//deprecated
.user-photo{
  position: relative;
  color: $white;
  cursor: pointer;
  &:after{
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    right: 0;
    content: url(./assets/images/arrow-down.png);
    width: 7px;
    height: 7px;
    display: inline-block;

  }
}
.el-dropdown-link{
    cursor: pointer;
}
.username,.el-icon-caret-bottom{
    color: $white;
}