$border-radius: 4px;
body {
    // background:url(./assets/images/login-background.png);
    // background-size: cover;
}

.img-container {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.button {
    border: none;
    margin-top: 20px;
    width: 100%;
    height: 60px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 145, 80)), to(rgb(255, 105, 48)));
    ;
    cursor: pointer;
    line-height: 60px;
    text-align: center;
    font-family: "黑体";
    font-size: 20px;
    font-weight: 900;
    color: white;
    border-radius: $border-radius;
    -webkit-user-select: none;
}

.button:active {
    background: rgb(255, 105, 48);
}

.input-div {
    width: 100%;
    height: 60px;
    margin-top: 20px;
    background: rgb(146, 146, 146);
    border-radius: $border-radius;
}

.icon {
    color: white;
    padding: 20px;
    font-size: 20px;
}

input {
    width: 80%;
    height: 60px;
    font-size: 20px;
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    color: white;
}
