span{
    font-size: 14px;
}
.manage-container{
    .el-input{
        width: 80px;
    }
}


.manage-container{
    display: flex;
    flex-direction: column;
    min-width: 600px;
    .filter-part,.table-part{
        margin-top: 30px;
        background-color: $white;
        padding: 20px;
    }
}

/*************************filter part start***************************/
.filter-part{

    .iconfont{
        font-size: 14px;
    }
    .filter-breadcrumb{
        padding: 10px;
        vertical-align: middle;
        line-height: 36px;
    }
    .filter-tags{
        margin-top: 20px;
        .tag-key{
            display: inline-block;
            width: 10%;
            float: left;
            margin-top: 7px;
            text-align: right;
        }
        .tag-value{
            overflow: hidden;
            margin-left: 10%;
            box-sizing: border-box;
            padding-left: 25px;
            padding-right: 50px;
            position: relative;

        }
    }
}

.tag-expand{
    display: inline-block;
    .tag{
        width: 120px;
        line-height: 20px;
        margin: 8px 5px;

        float: left;
        display: inline-block;
        font-size: 12px;
        text-align: center;
        // box-sizing: border-box;
    }
}
.tag-more{
    display: inline-block;
    position: absolute;
    top: 4px;
    right: 10%;
    width: 60px;
    text-align: left;
}
/************* filter part end *********************/

/*************table part start **********************/
.table-part{

}


/**************table part end ***********************/