span{
    font-size: 14px;
}
.manage-container{
    .el-input{
        min-width: 80px;
    }
}
// .el-table .dropdown-cell td .cell{
//     overflow: auto;
// }

.manage-container{
    display: flex;
    flex-direction: column;
    min-width: 600px;
    .filter-part,.table-part{
        margin-top: 30px;
        background-color: $white;
        padding: 20px;
    }
}

/*************************filter part start***************************/
.filter-part{

    .iconfont{
        font-size: 14px;
    }
    .filter-breadcrumb{
        padding: 10px;
        vertical-align: middle;
        line-height: 36px;
    }
    .topic-menu{
        position: relative;
        ul{
            display: none;
            position: absolute;
            top: 36px;
            left: -20px;
            z-index: 1000;
            width: 280px;
            height: 140px;
            background-color: rgb(162, 165, 164);
            color: $white;
            // column-count: 4;
            column-rule: 1px dashed gray;
            // column-gap: 5px;

            overflow: auto;
            border-radius: 3px;
            .topic-item{
                float: left;
                padding: 5px 7px;
                box-sizing: border-box;
            }
        }
    }

    .topic-menu:hover ul{
        display: block;
    }
    .topic-menu .topic-item:hover{
        font-weight: bold;
    }
    .filter-tags{
        margin-top: 20px;
        .tag-key{
            display: inline-block;
            width: 10%;
            float: left;
            margin-top: 7px;
            text-align: right;
        }
        .tag-value{
            overflow: hidden;
            margin-left: 10%;
            box-sizing: border-box;
            padding-left: 25px;
            padding-right: 50px;
            position: relative;

        }
    }
}

.tag-expand{
    display: inline-block;
    .tag{
        // width: 120px;
        line-height: 20px;
        margin: 8px 40px;
        padding: 0 10px;
        box-sizing: border-box;

        float: left;
        display: inline-block;
        font-size: 12px;
        text-align: center;
        cursor: pointer;
        // box-sizing: border-box;
    }
    .active{
        background-color: $blue;
        color: $white;

    }
}
.tag-more{
    display: inline-block;
    position: absolute;
    top: 4px;
    right: 10%;
    width: 60px;
    text-align: left;
}
/************* filter part end *********************/

/*************table part start **********************/
.table-part{
    padding: 20px;
    .table-actions,.buttongroup-wrapper{
        display: flex;
        align-items: center;
    }
    .table-actions{
        margin: 20px;
        margin-left: 0;
        .mycheckbox{
            margin-left: 20px;
        }
    }
    .pagination-wrapper{
        float: right;
        margin-top: 30px;

    }
    .buttongroup-wrapper{
        margin-left: -20px;
    }
    .el-button-group{
        margin-left: 20px;
        display: inline-block;
    }
    .inner-tag{
        margin-left: 10px;
    }
    .el-select{
        min-width: 100px;
    }
}




/**************table part end ***********************/